/* Styling for the top bar container */
.top-bar {
  background-color: #fff; /* Change background color to white */
  color: #333; /* Change text color to dark gray */
  padding: 10px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

/* Styling for the top bar content */
.top-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Styling for "The Library" text */
h2 {
  margin: 0;
}

/* Styling for the "Register" button */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.logo:hover {
  color: #ababab;
}
